@font-face {
  font-family: "gilroy";
  src: url("../fonts/gilroyextrabold.woff2") format("woff2"), url("../fonts/gilroyextrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "gilroy";
  src: url("../fonts/gilroylight.woff2") format("woff2"), url("../fonts/gilroylight.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "opensans";
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "opensans";
  src: url("../fonts/opensanslight.woff2") format("woff2"), url("../fonts/opensanslight.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

/*/////////Variablex//////////////*/

:root {
  --basic-black: #000000;
  --basic-dark: #363636;
  --basic-grey: #464646;
  --basic-half-grey: #7e7e7e;
  --basic-grey-light: #e5e5e5;
  --basic-white: #FFFFFF;

  --special-yellow-dark: #f0c52e;
  --special-yellow-light: #f7e296;
  --special-green: #91c92f;

  --status: #f6dada;
}

/*/////////BODY//////////////*/

.page-body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 24px;
  font-family: "gilroy", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  color: #000000;
  background-color: var(--basic-white);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: center;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: var(--basic-black);
}

.container {
  width: 1160px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
}

h3 {
  font-weight: 800;
  font-size: 47px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.page {
  height: 100%;
}


/*//////////////////////VISUALLY-HIDDEN//////////*/

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.reset-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.reset-fieldset {
  margin: 0;
  padding: 0;

  border: none;
}

.reset-text {
  margin: 0;
}

/*//////////////////////HEADER//////////*/

main {
  margin-top: 48px;
}

.main-header {
  position: relative;
  background: var(--special-yellow-light);

  display: grid;
  margin-top: 40px;
  min-height: 186px;
}

.main-header-logo {
  position: absolute;
  top: -59px;
  left: 59px;
}

.main-header-logo a {
  color: var(--basic-black);
}

.main-header-logo a:hover {
  opacity: 0.6;
}

.main-header-logo a:active {
  opacity: 0.3;
}

.menu {
  display:block;

  margin-top: 28px;
}

.menu-title {
  position: relative;
}

.menu-title::before {
  content: "";
  position: absolute;
  right: -31px;

  width: 22px;
  height: 22px;

  background-image: url("../img/crest.png");
}

.menu-sort {
  display:inline-block;
  vertical-align: top;
  height:20px;
  position:relative;
}

.menu-list {
  position: absolute;
  left: -59px;
  z-index: 1;

  width: 1160px;
  min-height: 161px;
  padding-left: 58px;
  padding-top: 16px;

  display: grid;
  grid-template-rows: 30px 30px 30px;
  grid-template-columns: 220px 160px 130px;
  gap: 10px;

  background-color: var(--special-yellow-light);
  visibility: hidden;
}

.menu-sort:focus-within .menu-list {
  visibility: visible;
}

.menu-title:active {
  opacity: 0.3;
}

.menu-title:hover {
  opacity: 0.6;
}

.menu-title {
  font-weight: 800;
  font-size: 18px;

  letter-spacing: 0.2em;
  text-transform: uppercase;

  color: var(--basic-black);
}

.menu-item a {
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;

  color: var(--basic-black);
}

.menu-item:nth-child(2) {
  grid-row-start: 2;
}

.menu-item:nth-child(3) {
  grid-row-start: 3;
}

.menu-item:hover {
  opacity: 0.6;
}

.menu-item:active {
  opacity: 0.3;
}


/*//////////////////SERCH/////////////////*/

.main-header-search {
  position: relative;
  display: grid;
  grid-template-rows: min-content min-content;
  grid-template-columns: 1fr 560px;;

  box-shadow: 0px 115px 0px 0px var(--special-yellow-light);
}

.main-header-catalog {
  display: grid;
  grid-template-rows: min-content min-content;
  grid-template-columns: 1fr 560px;;
}

input[type="search"] {
  position: relative;

  margin-top: 18px;
  padding-left: 40px;
  width: 360px;

  border: none;
  background-color: var(--special-yellow-light);
  outline: none;
  opacity: 0.3;
}

input[type="search"]:hover {
  border: none;
  background-color: var(--special-yellow-light);
  outline: none;
  opacity: 0.6;
}

.form-search:focus  .serch-btn,
.form-search:active  .serch-btn {
  opacity: 1;
}

.serch-btn {
  position: absolute;
  top: 0px;
  right: 96px;

  width: 84px;
  height: 50px;

  border: 2px solid black;
  background-color: #F7E296;
  opacity: 0;
}

.pop:focus ~ .serch-btn {
  opacity: 1;
}

.serch-btn:hover {
  color: var(--basic-white);
  background-color: var(--basic-black);
}

.serch-btn:focus {
  color: rgba(255,255,255,0.3);
  background-color: var(--basic-black);
}

.serch-btn::before {
  content: "";
  position: absolute;
  right: -2px;
  top: 46px;

  height: 2px;
  width: 440px;

  display: block;
  background: var(--basic-black);
}

.search-catalog {
  position: relative;

  display: grid;
  grid-template-rows: 1fr 1fr;
  margin-left: 59px;
  margin-top: 31px;
}

.search-catalog::before {
  position: absolute;
  content: "";
  top: 19px;
  left: 4px;

  width: 13px;
  height: 13px;

  background-image: url("../img/icon/serch.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}


/*/////////////lOGIN-NAVIGATION///////////*/

.login-navigation {
  display: grid;
  grid-template-rows: 1fr 65px;
}

.header-navigation {
  align-self: end;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;

  margin-top: 46px;
  margin-left: 14px;
}

.site-navigation a {
  font-family: Open Sans;
  line-height: 20px;

  color: var(--basic-black)0;
}

.site-navigation li {
  position: relative;

  padding-left: 10px;
}

.site-navigation li:nth-child(1) {
  margin-right: 231px;
}

.site-navigation li:nth-child(2) {
  margin-right: 54px;
}


.site-navigation li:hover {
  opacity: 0.6;
}

.site-navigation li:active {
  opacity: 0.3;
}

/*/////////////CATALOG-NAVIGATION//////////*/

.catalog-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 46px;
  margin-right: 65px;
  margin-left: 15px;
}

.catalog-navigation a {
  font-family: Open Sans;
  line-height: 20px;

  color: var(--basic-black)0;
}

.catalog-navigation li {
  position: relative;

  padding-left: 10px;
}

.catalog-navigation li:nth-child(2) {
  margin-right: 66px;
}

.catalog-navigation li:nth-child(3) {
  margin-right: 39px;
}

.catalog-navigation li:hover {
  opacity: 0.6;
}

.catalog-navigation li:active {
  opacity: 0.3;
}

.site-log {
  opacity: 0.3;
}

.site-logo a::before {
  position: absolute;
  content: "";
  top: 7px;
  left: -11px;

  width: 9px;
  height: 10px;

  background-image: url("../img/icon/login-header.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.site-srav a::before {
  position: absolute;
  content: "";
  top: 7px;
  left: -11px;

  width: 9px;
  height: 10px;

  background-image: url("../img/icon/header-srav.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.site-cor a::before {
  position: absolute;
  content: "";
  top: 7px;
  left: -11px;

  width: 10px;
  height: 8px;

  background-image: url("../img/icon/cor-header.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

/*///////////////////COMFORT_NAVIGATION/////////*/

.comfort-navigation {
  display: flex;
  flex-wrap: wrap;

  margin-top: 27px;
}

.comfort-navigation li:hover {
  opacity: 0.6;
}

.comfort-navigation li:active {
  opacity: 0.3;
}

.comfort-navigation li:nth-child(1) {
  margin-right: 34px;
}

.comfort-navigation li:nth-child(2) {
  margin-right: 108px;
}

/*/////////////HEADER-NAVIGATION/////////////*/

.header-navigation a {
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;

  letter-spacing: 0.2em;
  text-transform: uppercase;

  color: var(--basic-black);
}


/*////////////////SLIDER///////////////*/

.slider {
  position: relative;
}

.slider-controls label {
  position: relative;

  display: inline-block;
  vertical-align: top;
  width: 12px;
  height: 11px;
  margin-right: 21px;

  background: #ffffff;
  border: 1px solid var(--basic-black);
  border-radius: 50%;
  cursor: pointer;
  vertical-align: middle;
}

.slide {
  display: none;
  position: relative;
}

.slide::before {
  content: "";
  position: a

}

.slider-item {
  min-height: 413px;
}

.slider-controls {
  position: absolute;
  right: 62px;
  bottom: 200px;
  z-index: 1;

  font-size: 0;

  display: inline-flex;
}


.slider-item-one {
  position: relative;

  display: flex;
  justify-content: space-around;
  margin-top: 36px;
}

.slider-item-two {
  position: relative;

  display: flex;
  justify-content: space-around;
  margin-top: 36px;
}

.slider-item-there {
  position: relative;

  display: flex;
  justify-content: space-around;
  margin-top: 36px;
}

.slider-item-there h3 {
  position: relative;
  margin-bottom: 29px;
  line-height: 53px;
  min-width: 630px;
}

.slider-wrapper-one {
  width: 487px;
  margin-left: 384px;
}

.slider-wrapper-two {
  width: 487px;
  margin-left: 384px;
}

.slider-wrapper-there {
  width: 487px;
  margin-left: 384px;
}

.slider-title {
  position: relative;
  width: 393px;
  margin-bottom: 23px;
  line-height: 55px;
  letter-spacing: 0.3px;
}

.slider-title::before {
  content: "";
  position: absolute;
  top: -43px;

  width: 100px;
  height: 7px;

  background-color: var(--basic-white);
}

.slider-number {
  position: absolute;
  top: -68px;
  right: 48px;

  font-family: Gilroy;
  font-weight: 800;
  font-size: 179px;
  line-height: 219px;
  text-transform: uppercase;

  color: var(--basic-white);
}

.slider-info-one {
  font-family: Open Sans;
  line-height: 28px;

  color: var(--basic-black);
  margin-bottom: 46px;
  letter-spacing: 0.1px;

  max-width: 484px;
}

.slider-info-two {
  font-family: Open Sans;

  color: var(--basic-black);

  margin-bottom: 50px;
}

.slider-info-there {
  font-family: Open Sans;
  font-size: 15px;

  color: var(--basic-black);

  margin-bottom: 50px;
}

.slider-img-one {
  position: absolute;
  top: -34px;
  left: 88px;
}

.slider-img-two {
  position: absolute;
  top: 33px;
  left: 57px;
}

.slider-img-there {
  position: absolute;
  top: -34px;
  left: 88px;
}


#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
  height: 506px;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  position: relative;
  display: block;
}


#product-1:checked ~ .site-wrapper label[for="product-1"]::before,
#product-2:checked ~ .site-wrapper label[for="product-2"]::before,
#product-3:checked ~ .site-wrapper label[for="product-3"]::before {
  position: absolute;
  content: "";
  top: 25%;
  left: 28%;

  width: 4px;
  height: 4px;

  border: 1px solid var(--basic-black);
  border-radius: 50%;
}

.button-slider {
  position: relative;

  display: inline-block;
  vertical-align: top;
  width: 220px;
  min-height: 40px;
  padding: 10px 20px;

  font-family: Gilroy;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  text-align: center;

  letter-spacing: 0.2em;
  text-transform: uppercase;

  color: var(--basic-black);
}


.button-slider::before {
  content: "";
  position: absolute;
  top: calc(50% - 4px);
  left: 0px;
  z-index: -1;

  width: 100%;
  min-height: 8px;

  background-color: var(--special-yellow-dark);
  transition: top 0.5s, min-height 0.5s;
}

.button-slider:hover::before {
  top: 0px;
  min-height: 100%;
}

.button-slider:active {
  color: rgba(0, 0, 0, 0.3);
}

/*/////////FEATURES////////////////*/

.slider-catalog {
  display: grid;
  grid-template-columns: 277px 1fr;
}

.site-catalog {
  position: relative;
  margin-top: 130px;
}

.site-catalog::before {
  content: "";
  position: absolute;
  top: 35px;
  z-index: -1;

  height: 288px;
  width: 100%;

  background-color: var(--basic-grey-light);
}

.slider-controls-catalog {
  position: relative;
}

.slider-controls-catalog::before {
  content: "";
  position: absolute;
  top: -63px;
  right: -7px;

  width: 8px;
  height: 320px;

  background-color: var(--basic-black);
}
.features-title {
  position: relative;
  z-index: 0;

  display: grid;
  margin-bottom: 24px;
  margin-top: 15px;
  padding-top: 6px;
  min-height: 40px;
  width: 160px;

  font-family: Gilroy;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--basic-black);
}

.slider-controls-catalog h3{
  margin-bottom: 27px;
}

.features-title:before {
  content: "";
  position: absolute;
  top: calc(50% - 9px);
  left: 0px;
  z-index: -1;

  width: 100%;
  min-height: 10px;

  background-color: var(--special-yellow-dark);
  color: var(--basic-black);
  transition: top 0.5s, min-height 0.5s, background-color 0.5s, width 0.5s;
}

.features-list {
  margin-left: 83px;
}

.features-title:hover::before {
  top: -7%;
  min-height: 100%;
}


.slide-title-catalog {
  margin: 0;
  margin-top: 8px;
  letter-spacing: 9.4px;
}


.slide-catalog {
  display: none;
}

.slide-info-catalog-one {
  width: 515px;
  margin-top: 58px;

  font-family: Open Sans;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;

  letter-spacing: 0.1em;
}

.slide-info-catalog-two {
  width: 571px;
  margin-top: 58px;

  font-family: Open Sans;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.1em;
}

.slide-info-catalog-there {
  width: 548px;
  margin-top: 57px;

  font-family: Open Sans;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.1em;
}

.slider-catalog-item:first-child::before {
  content: "";
  position: absolute;
  right: 1px;
  top: -15px;

  width: 136px;
  height: 164px;

  background-image: url(../img/catalog/delivery.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.slider-catalog-item:nth-child(2)::before {
  content: "";
  position: absolute;
  right: -11px;
  bottom: 16px;

  width: 166px;
  height: 190px;

  background-image: url(../img/catalog/warranty.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.slider-catalog-item:last-child::before {
  content: "";
  position: absolute;
  right: 9px;
  bottom: 24px;

  width: 155px;
  height: 187px;

  background-image: url(../img/catalog/credit.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

#product-4:checked ~ .site-catalog #slide4,
#product-5:checked ~ .site-catalog #slide5,
#product-6:checked ~ .site-catalog #slide6 {
  position: relative;
  display: block;
}

#product-4:checked ~ .site-catalog label[for="product-4"],
#product-5:checked ~ .site-catalog label[for="product-5"],
#product-6:checked ~ .site-catalog label[for="product-6"] {
  position: relative;
  color: var(--special-yellow-light);
  z-index: 2;
  display: block;
}

#product-4:checked ~ .site-catalog label[for="product-4"]::before,
#product-5:checked ~ .site-catalog label[for="product-5"]::before,
#product-6:checked ~ .site-catalog label[for="product-6"]::before {
  position: absolute;
  top: 0px;
  z-index: -1;
  width: 276px;
  height: 40px;
  padding-left: 23px;
  background-color: var(--basic-black);
}

/*///////////////////TABLE///////////*/

.table-title {
  font-family: Gilroy;
  font-style: normal;
  font-size: 36px;

  line-height: 42px;
  letter-spacing: 0.6px;

  padding-bottom: 7px;

  color: var(--basic-black);
}

.table-title:not(:last-child) {
  padding-right: 71px;
}

.table-info {
  font-family: Gilroy;
  font-size: 13px;


  color: var(--basic-black);
}

.table-wrapper {
  margin-top: 51px;
}


/*//////////////////ITEM_NAVIGATION////////////////*/

.item-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item-info {
  width: 160px;
  margin-top: 32px;
  font-family: Gilroy;
  font-weight: 800;
  font-size: 18px;
  color: black;
}

.item-list div {
  position: relative;

  width: 160px;
  height: 160px;

  background-color: var(--special-yellow-light);
  transition: background-color 0.4s, opacity 0.4S;
}

.item-list div:hover {
  position: relative;

  width: 160px;
  height: 160px;

  background-color: var(--special-yellow-dark);
}

.item-list div:active {
  position: relative;

  width: 160px;
  height: 160px;

  background-color: var(--special-yellow-dark);
  opacity: 0.6;
}

.item-img {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;

  margin: auto;
}

.item-img-mono {
  position: absolute;
  left: 0;
  bottom: 18px;
  right: 0;

  margin: auto;
}

/*/////////BRAND///////////////////////*/

.brand-navigation {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 207px;
}

.brand-item  {
  opacity: 0.2;
  filter: grayscale(100%);
  transition: opacity 1s;
}

.brand-item:hover {
  opacity: 1;
  filter: grayscale(0%);
}

.brand-navigation img {
  max-width: 100%;
  object-fit: contain;
}

/*////////COMPANY_INFO/////////////*/

.main-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 38px;
  margin-top: 106px;
}

.company-title {
  position: relative;

  margin-bottom: 61px;

  letter-spacing: 10px;
}

.company-title::before {
  content: "";
  position: absolute;
  top: -72px;
  width: 80px;

  border-top: 7px solid var(--basic-black)
}

.contact-title {
  position: relative;
  margin-bottom: 59px;

  letter-spacing: 10px;
}

.contact-title::before {
  content: "";
  position: absolute;
  top: -72px;

  width: 80px;

  border-top: 7px solid var(--basic-black)
}

.company-info {
  font-family: Open Sans;
  line-height: 28px;

  width: 473px;

  color: var(--basic-black);
}

.company-info-lou {
  margin-top: 38px;
  width: 479px;

  font-family: Open Sans;
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;

  color: var(--basic-black);
}

.contact-info {
  margin-top: 55px;
  margin-bottom: 41px;
}

.map {
  margin-bottom: 68px;
}

.work {
  margin-top: 62px;
  margin-bottom: 76px;
  padding-left: 13px;

  list-style: none;
}

.work-list {
  position: relative;
  padding-left: 20px;
  margin-bottom: -4px;

  color: var(--basic-half-grey);
}

.work-list::before {
  content: "";
  position: absolute;
  top: 11px;
  left: -15px;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  border: 2px solid #E5E5E5;
}

.work-info {
  font-family: Gilroy;
  font-weight: 800;
  font-size: 16px;
  line-height: 28px;

  color: var(--basic-black);
}

.contact-info {
  font-family: Open Sans;
  line-height: 28px;


  color: var(--basic-black);
}

.button-style {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 260px;
  min-height: 40px;
  padding-top: 9px;

  font-family: Gilroy;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  text-align: center;

  letter-spacing: 0.2em;
  text-transform: uppercase;

  color: var(--basic-black);
}

.button-style::before {
  content: "";
  position: absolute;
  top: calc(50% - 5px);
  left: 0px;
  z-index: -1;

  width: 100%;
  min-height: 8px;

  background-color: var(--special-yellow-dark);
  transition: top 0.5s, min-height 0.5s;
}

.button-style:hover::before {
  top: 0%;
  min-height: 100%;
}

.button-style:active {
  color: rgba(0, 0, 0, 0.3);
}

/*/////////////////CATALOG//////////////////////*/
/*
.catalog {
margin-left: 13px;
}
*/

/*/////////////////PAGE_CATALOG////////////////*/

.page-catalog {
  display: grid;
  grid-template-columns: 328px 1fr;
  grid-template-rows: 118px;
  margin-top: 17px;
}

.main-title {
  grid-column: 1 / -1;
  margin-left: 60px;

  letter-spacing: 0.5px;
}

.main-list {
  grid-column: 1 / -1;
  margin-left: 60px;
}

.main-list {
  display: flex;
}

.main-list a {
  font-family: Open Sans;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;

  color: var(--basic-black);
  opacity: 0.6;
}

.main-list li {
  position: relative;

  margin-right: 38px;

  letter-spacing: 0.1px;
}

.main-list a:hover {
  opacity: 1;
}

.main-list a:active {
  opacity: 0.3;
}

.main-list li:not(:last-child)::before {
  content: "";
  position: absolute;
  right: -20px;
  top: 9px;

  width: 4px;
  height: 6.7px;

  background-image: url(../img/right.png);
  background-repeat: no-no-repeat;
  background-position: 0 0;
}

/*//////////////////CATALOG-RESULT///////////?//*/

.catalog-result {
  margin-top: 70px;
  margin-left: 72px;
}

.catalog-sort {
  display: flex;
  align-items: baseline;
  height: 70px;
  padding-top: 10px;
  padding-left: 73px;

  background-color: var(--basic-grey-light);
  box-shadow: 170px 0 0 0 var(--basic-grey-light);
}

.sort-list {
  display: flex;
  margin-left: 50px;
}

.sort-list li {
  font-family: Open Sans;
  font-size: 14px;
  opacity: 0.3;
}

.sort-list li:first-child {
  margin-right: 32px;
}

.sort-list li:nth-child(2) {
  margin-right: 32px;
}

.sort-list li:hover {
  opacity: 0.6;
}

.sort-list li:active {
  opacity: 1;
}

.sort-list-up-down {
  display: flex;
  margin-left: 229px;
}

.sort-list-up-down a {
  opacity: 0.2;
}

.sort-list-up-down a:hover {
  opacity: 0.5;
}

.sort-list-up-down a:active {
  opacity: 1;
}

.sort-list-down {
  margin-left: 16px;
}

.sort-title {
  font-family: Gilroy;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;

  letter-spacing: 3.5px;
  text-transform: uppercase;
}

.catalog-filter {
  display: grid;
  grid-template-columns: 328px 1fr;
  margin-top: 43px;

  background-color: var(--basic-grey-light);
  box-shadow: -170px 0 0 0 var(--basic-grey-light);
}

.catalog-list {
  display: grid;
  grid-template-columns: 360px 360px;
  column-gap: 40px;
}

.catalog-item {
  position: relative;
}

.catalog-item img {
  max-width: 100%;
  object-fit: contain;
}

.catalog-item:nth-child(3) {
  margin-top: 20px;
}

.catalog-item:last-child {
  margin-top: 20px;
}

.catalog-item:last-child::before {
  content: "";
  position: absolute;
  top: 28px;
  right: 26px;

  width: 62px;
  height: 62px;

  background-image: url(../img/catalog/new.png);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.catalog-info {
  position: absolute;
  bottom: 99px;

  display: block;
  width: 360px;
  min-height: 381px;

  text-align: center;
  transition: opacity 0.6s, background-color 0.6s;
  opacity: 0;
}

.desct {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.desct-title {
  max-width: 265px;

  font-family: Gilroy;
  font-weight: 800;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.3px;

  color: var(--basic-black);
}

.desct-info {
  letter-spacing: 0.6px;
}

.catalog-range {
  margin-top: 130px;
}

li.catalog-item:hover section.catalog-info {
  background-color: var(--basic-grey-light);
  opacity: 0.7;
}

.catalog-info-desct {
  font-family: Open Sans;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.1em;

  color: var(--basic-black);
  opacity: 0.5;
}

.catalog-info-desct:hover {
  opacity: 1;
}

.catalog-info-desct:active {
  opacity: 0.2;
}

.button-catalog {
  position: relative;

  width: 260px;
  min-height: 40px;
  padding-top: 9px;

  font-family: Gilroy;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;

  color: var(--basic-black);
}

.button-catalog::before {
  content: "";
  position: absolute;
  right: -35px;
  top: 14px;
  z-index: -1;

  width: 200px;
  min-height: 8px;

  background-color: var(--special-yellow-dark);
  transition: top 0.5s, min-height 0.5s;
}

.button-catalog:hover::before {
  top: 4px;
  min-height: 100%;
}

.button-catalog:active {
  color: rgba(0, 0, 0, 0.3);
}

/*//////////////////FILET////////////////////////*/

.filter-post {
  margin-top: 88px;
  margin-left: 59px;
}

.filter-title {
  padding-top: 26px;
  padding-left: 62px;
  height: 70px;
  margin: 0;

  font-family: Gilroy;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;

  letter-spacing: 3.5px;
  text-transform: uppercase;

  box-shadow: -170px 0 0 0 #DCDCDC;
  background-color: #DCDCDC;
}

.filter-value {
  position: absolute;

  font-family: Gilroy;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 2.4px;

  color: var(--basic-black);
}

.filter-value::before {
  content: "";
  position: absolute;
  top: -16px;
  left: 1px;

  width: 200px;
  height: 2px;

  background-color: var(--basic-black);
}

.range-filter {
  width: 200px;
  margin-top: 17px;
}

.range-controls {
  position: relative;

  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 10px;

  background-color: var(--basic-grey-light);
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 60%;
  height: 2px;

  background: var(--special-green);
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 1px;

  border: 8px solid #ffffff;
  background-color: var(--basic-half-grey);
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 0px;
}

.range-controls .toggle-max {
  margin-bottom: 56px;
  left: 110px;
}

.price-controls {
  display: flex;
  margin-bottom: 43px;
  font-size: 0;
}

.price-controls label {
  display: inline-flex;
  width: 50%;

  font-size: 14px;
  text-transform: uppercase;
  vertical-align: middle;
}

.price-controls input {
  width: 41px;

  font-size: 14px;
  text-align: center;
  color: #283136;

  border: none;

  background-color: #E5E5E5;
}

.min-price input {
  width: 16px;
}

.max-price {
  text-align: right;
}

.option {
  margin-top: 6px;
}

.option-title {
  position: relative;
  margin-bottom: 28px;

  font-weight: 800;
  font-size: 16px;
  line-height: 17px;
  letter-spacing: 0.1em;

  color: var(--basic-black);
}

.option-title::before {
  content: "";
  position: absolute;
  top: -16px;
  left: 1px;

  width: 200px;
  height: 2px;

  background-color: var(--basic-black);
}

.option-check-list {
  position: relative;

  margin-bottom: 9px;
}

.bluetooth {
  margin-top: 34px;
  margin-bottom: 30px;
}

.bluetooth-title {
  position: relative;

  font-weight: 800;
  font-size: 16px;
  line-height: 17px;
  letter-spacing: 0.1em;

  color: var(--basic-black);
}

.bluetooth-title::before {
  content: "";
  position: absolute;
  top: -16px;
  left: 1px;

  width: 200px;
  height: 2px;

  background-color: var(--basic-black);
}

.bluetooth-one {
  margin-top: 27px;
}

.bluetooth-one li {
  position: relative;
  margin-top: 10px;
}

.check-box {
  position: absolute;
  top: 2px;
  left: 38px;

  font-family: Open Sans;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;

  color: var(--basic-black);
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=checkbox]:checked + label::before {
  content: url("../img/box/checkbox-on.svg");
}

input[type=checkbox]:checked:hover + label::before,
input[type=checkbox]:checked:focus + label::before {
  cursor: pointer;
  opacity: 0.6;
}

input[type=checkbox]:checked:active + label::before {
  content: url("../img/box/checkbox-off.svg")
}

input[type=checkbox]:checked:disabled + label::before {
  opacity: 0.25;
}

input[type=checkbox]:not(:checked) + label::before {
  content: url("../img/box/checkbox-off.svg");
}

input[type=checkbox]:not(:checked):hover + label::before,
input[type=checkbox]:not(:checked):focus + label::before {
  cursor: pointer;
  opacity: 0.6;
}

input[type=checkbox]:not(:checked):active + label::before {
  content: url("../img/box/checkbox-on.svg");
}

input[type=checkbox]:not(:checked):disabled + label::before {
  opacity: 0.25;
}


input[type=radio]:checked + label::before {
  content: url("../img/box/radio-on.svg");
}

input[type=radio]:checked:hover + label::before,
input[type=radio]:checked:focus + label::before {
  cursor: pointer;
  opacity: 0.6;
}

input[type=radio]:checked:active + label::before {
  content: url("../img/box/radio-off.svg");
}

input[type=radio]:checked:disabled + label::before {
  opacity: 0.25;
}

input[type=radio]:not(:checked) + label::before {
  content: url("../img/box/radio-off.svg");
}

input[type=radio]:not(:checked):hover + label::before,
input[type=radio]:not(:checked):focus + label::before {
  cursor: pointer;
  opacity: 0.6;
}

input[type=radio]:not(:checked):active + label::before {
  content: url("../img/box/radio-on.svg");
}

input[type=radio]:not(:checked):disabled + label::before {
  opacity: 0.25;
}

.button-present {
  position: relative;
  z-index: 0;

  width: 260px;
  min-height: 40px;
  padding-top: 9px;
  padding-right: 67px;

  font-family: Gilroy;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;

  color: var(--basic-black);
  background-color: var(--basic-grey-light);
  border: none;
  outline: none;
}

.button-present::before {
  content: "";
  position: absolute;
  right: 62px;
  top: 19px;
  z-index: -1;

  width: 200px;
  min-height: 8px;

  background-color: var(--special-yellow-dark);
  transition: top 0.5s, min-height 0.5s;
}

.button-present:hover::before {
  top: 4px;
  min-height: 100%;
}

.button-present:active {
  color: rgba(0, 0, 0, 0.3);
}

/*/////////////PAGINATION-nav////////////////////*/

.pagination-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 760px;
  height: 70px;
  margin-bottom: 75px;
  margin-top: 9px;

  background: var(--basic-grey-light);
}

.pagination {
  display: flex;
  margin-right: 24px;
}

.pagination-item a {
  width: 120px;
  height: 70px;
  padding-top: 22px;
  padding-left: 31px;

  font-family: Gilroy;
  font-weight: 800;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 3.5px;
  text-transform: uppercase;

  color: var(--basic-black);
}

.pagination-item:not(:first-child) {
  opacity: 0.3;
}

.pagination-item:hover {
  opacity: 0.6;
}

.pagination-item:active {
  opacity: 1;
}

.button-back {
  width: 120px;
  height: 70px;
  padding-left: 29px;

  font-family: Gilroy;
  font-weight: 800;
  font-size: 16px;
  line-height: 65px;
  letter-spacing: 3.5px;
  text-transform: uppercase;
}

.button-back:hover {
  background-color: #D9D9D9;
}

.button-back:active {
  background-color: #D9D9D9;
  opacity: 0.3;
}

.button-go {
  width: 120px;
  height: 70px;
  padding-top: 22px;
  padding-left: 15px;

  font-family: Gilroy;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 3.5px;
  text-transform: uppercase;
}

.button-go:hover {
  background-color: #D9D9D9;
}

.button-go:active {
  background-color: #D9D9D9;
  opacity: 0.3;
}

/*////////////FOOTER-global///////////////*/

.footer {
  margin-top: 77px;
  height: 324px;

  background: var(--basic-dark);
}

.footer-catalog {
  height: 324px;

  background: var(--basic-dark);
}


.footer-catalog {
  height: 324px;

  background: var(--basic-dark);
}

.footer-global {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-template-rows: 100px 100px 100px;
  margin-top: 25px;
}

.footer-global-catalog {
  display: grid;
  grid-template-columns: max-content 1fr 1fr;
  grid-template-rows: 100px 100px 100px;
  margin-top: 27px;
}

/*///////////////////Footer-adres///////////////*/

.footer-adres {
  margin-top: 26px;
}

.addres-title {
  color: var(--special-yellow-dark);
}

.addres-title:hover {
  opacity: 0.6;
}

.addres-title:active {
  opacity: 0.3;
}

.addres-info {
  position: relative;

  margin-top: -8px;

  font-family: Open Sans;
  line-height: 20px;
  letter-spacing: 0.3px;

  color: var(--basic-white);
}

.addres-info::before {
  content: "";
  position: absolute;
  bottom: -90px;

  width: 80px;
  height: 7px;

  background-color: var(--special-yellow-dark);
}

/*////////////////////////Footer-comfort////////////////*/

.footer-comfort {
  grid-column-start: 2;
  grid-row-start: 2;
}

.footer-comfort-catalog {
  grid-column-start: 2;
  grid-row-start: 2;
  grid-column-end: 4;
  margin-left: 128px;
}

.footer-comfort-catalog a {
  font-family: Gilroy;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;

  color: var(--basic-white);
}

.footer-comfort a {
  font-family: Gilroy;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;

  letter-spacing: 0.2em;
  text-transform: uppercase;


  color: var(--basic-white);
}

.comfort-list {
  display: flex;
  flex-wrap: wrap;
  width: 464px;
  margin-left: 35px;
}

.comfort-list li {
  margin-right: 34px;
}

.comfort-list li:hover {
  opacity: 0.6;
}

.comfort-list li:active {
  opacity: 0.3;
}

/*//////////////////Footer-social/////////////////////////*/

.main-footer-social {
  grid-column-start: 2;
  grid-row-start: 3;
  justify-self: center;
}

.main-footer-social-catalog {
  grid-column-start: 2;
  grid-row-start: 3;
  justify-self: flex-end;
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  margin-right: 32px;
}

.footer-social li {
  margin-left: 23px;
}

.footer-social li {
  opacity: 0.6;
}

.footer-social li:hover {
  opacity: 0.3;
}

.footer-social li:active {
  opacity: 0.1;
}

/*/////////////////Footer-login/////////////////*/

.footer-login {
  display: grid;
  grid-column-start: 4;
  grid-column-end: 2;
  grid-row-start: 1;
}


.login-list {
  display: grid;
  grid-template-columns: 1fr 1fr 60px;
  align-self: center;
  justify-self: self-end;
  margin-bottom: 36px;
}

.login-list li {
  position: relative;
}

.login-logo a::before {
  content: "";
  position: absolute;
  top: 7px;
  left: -23px;

  width: 9px;
  height: 10px;

  background-image: url("../img/icon/footerl.svg");
  background-repeat:  no-repeat;
  background-position: 0 0;
}

.login-list li {
  opacity: 0.7;
}

.login-list li:hover {
  opacity: 1;
}

.login-list li:active {
  opacity: 0.3;
}

.login-list a {
  font-family: Open Sans;
  font-style: normal;
  line-height: 20px;

  color: var(--basic-white);
  opacity: 0.7;
}

.login-logout {
  margin-left: 25px;
}

.login-list-catalog {
  display: grid;
  align-self: center;
  justify-self: self-end;
  margin-top: -31px;
  grid-template-columns: max-content 1fr 1fr 60px;
}

.login-list-catalog li {
  position: relative;
}

.login-logo-catalog a::before {
  content: "";
  position: absolute;
  top: 7px;
  left: -15px;

  width: 9px;
  height: 10px;

  background-image: url("../img/icon/footerl.svg");
  background-repeat:  no-repeat;
  background-position: 0 0;
}

.login-list-catalog li {
  opacity: 0.7;
}

.login-list-catalog li:hover {
  opacity: 1;
}

.login-list-catalog li:active {
  opacity: 0.3;
}

.login-list-catalog a {
  font-family: Open Sans;
  font-style: normal;
  line-height: 20px;

  color: var(--basic-white);
  opacity: 0.7;
}

.login-logo {
  margin-left: 29px;
}

.login-stat {
  margin-right: 66px;
}


.login-stat a::before {
  content: "";
  position: absolute;
  top: 7px;
  left: -21px;

  width: 9px;
  height: 10px;

  background-image: url("../img/icon/footer-stat.svg");
  background-repeat:  no-repeat;
  background-position: 0 0;
}

.login-cor a::before {
  content: "";
  position: absolute;
  top: 6px;
  left: -22px;

  width: 10px;
  height: 8px;

  background-image: url("../img/icon/footer-cor.svg");
  background-repeat:  no-repeat;
  background-position: 0 0;
}

.main-contact {
  grid-column-start: 4;
  grid-column-end: 2;
  grid-row-start: 2;
  justify-self: end;
  align-self: baseline;
  margin-top: 10px;
}

.tel {
  font-family: Open Sans;
  line-height: 20px;

  color: var(--basic-white);
}

.main-html-logo {
  grid-column-start: 3;
  grid-row-start: 3;
  justify-self: end;
}

.html-logo:hover {
  opacity: 0.6;
}

.html-logo:active {
  opacity: 0.3;
}


/*///////////MODAL///////////////////*/

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  margin: auto;
  width: 960px;
  height: 550px;

  background-color: var(--basic-white);
}

.modal-map {
  display: none;
}

.modal-login {
  display: none;
}

.modal-name {
  display: inline-block;
  vertical-align: bottom;
  margin-right: 35px;
  margin-left: 100px
}

.modal-name label{
  display: block;
  margin-top: 92px;
  margin-bottom:10px;

  font-family: Gilroy;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;

  color: var(--basic-black);
}

.modal-name input {
  width: 360px;
  height: 50px;
  padding-left: 20px;

  font-size: 15px;
  line-height: 19px;

  color: rgba(0, 0, 0, 0.4);
  background-color: #F2F2F2;
  border: none;
}

.modal-email {
  display: inline-block;
  vertical-align: bottom;
}

.modal-email label {
  display: block;
  margin-bottom:10px;

  font-family: Gilroy;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;

  color: var(--basic-black);
}

.modal-email input {
  width: 360px;
  height: 50px;
  padding-left: 20px;

  font-size: 15px;
  line-height: 19px;

  color: rgba(0, 0, 0, 0.4);
  background-color: #F2F2F2;
  border: none;
}

.modal-text {
  display: block;
  margin-top: 32px;
  margin-left: 100px
}

.modal-text label {
  display: block;
  margin-bottom:10px;

  font-family: Gilroy;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;


  color: var(--basic-black);
}

.chat {
  width: 760px;
  height: 199px;
  padding: 10px;

  background-color: #F2F2F2;
  border: none;
}

.modal-button {
  position: relative;
  z-index: 0;

  width: 260px;
  min-height: 40px;
  padding-top: 9px;
  padding-right: 67px;
  margin-left: 100px;
  margin-top: 27px;

  font-family: Gilroy;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;

  color: var(--basic-black);
  background-color: var(--basic-white);
  border: none;
  outline: none;
}

.modal-button::before {
  content: "";
  position: absolute;
  right: 62px;
  top: 19px;
  z-index: -1;

  width: 200px;
  min-height: 8px;

  background-color: var(--special-yellow-dark);
  transition: top 0.5s, min-height 0.5s;
}

.modal-button:hover::before {
  top: 4px;
  min-height: 100%;
}

.modal-close {
  position: absolute;
  top: 13px;
  right: 17px;

  height: 55px;
  width: 55px;

  border: none;
  border-radius: 50%;
  background-color: var(--special-yellow-dark);
  opacity: 0.5;
  transition: opacity 0.5s;
}

.modal-close::before {
  content: "";
  position: absolute;
  top: 17px;
  left: 18px;

  width: 19px;
  height: 19px;

  background-image: url(../img/modal-close.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.modal-close:hover {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.3;
}

.name-form input:hover {
  background-color: #EAEAEA;
}

.name-form input:focus {
  outline: none;
  border: 2px solid #F7E296;
  background-color: var(--basic-white);
}

.name-form textarea:hover {
  background-color: #EAEAEA;
}


.modal-map iframe {
  box-shadow: 0 0 15px 3px var(--basic-black);
}

.modal-show {
  display: block;
  animation: bounce 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}


@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}
